@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #eaeaea;
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 1.75rem;
}

h2 {
    font-size: 1.25rem;
}

li, p {
    font-size: 1rem;
}

header {
    background-color: #ffffff;
    width: 80%;
    margin-left:10%;
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
}

header {
    display: flex;
    flex-direction: column;
    border-radius: 14px 14px 0 0;
    align-items: center;
    margin-top: 1rem;
    text-align: center;
}

header img {
    border-radius: 10px;
    width: 950px;
    height: 200px;
    object-fit: cover;
}

header figcaption {
    text-align: end;
}

article {
    background-color: #ffffff;
    width: 80%;
    margin-left:10%;
    padding-left: 5%;
    padding-right: 5%;
}

article h2 {
    display: flex;
    justify-content: center;

}

li {
    line-height: 1.75rem;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 8px;
}